// button.stripe-button-el,
// button.stripe-button-el>span {
//   background-color: #EB649C !important;
//   background-image: none;
//   padding: 300px;

// }

.custom-form{
  // display: flex;
  // justify-content: center;
  // margin: 30px 300px;
  // box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.06);
  // flex-direction: column;
  // padding: 10px;
  h1{
    font-size: 20px;
  }
  input{
    border: 1px solid #7769e0;
  }
  label{
    font-weight: 100;
        text-align: left;
  }
  h1{
    margin-bottom: 35px;
  }
  .btn{
    margin-top: 30px;
  }
}
