body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #FCFCFC;
}

h1, h2, h3, p {
  font-family: Roboto, Raleway, Helvetica, sans-serif;
}


.banner {
  height: 100vh;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.banner-content h1 {
  font-weight: bold;
  font-size: 70px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.banner-content h3 {
  font-weight: medium;
  font-size: 40px;
  padding: 20px 0;
}

.banner-content p {
  font-size: 12px;
  margin-top: 100px;
}

.form-group {
  display: flex;
  align-items: center;
}

#new_user .form-group {
  display: block;
  width: 400px;
}

.form-control {
  height: 35px;
  width: 400px;
  background: transparent;
  border: 1px solid black;
  border-radius: 3px;
}


.form-control::-webkit-input-placeholder {
  color: white;
  opacity: 0.3;
}

.form-control:focus {
  color: black;
  background: transparent;
  border: 1px solid white;
}

.button {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  height: 35px;
  width: 80px;
  text-decoration: none;
  margin-left: 10px;
}

.button:hover {
  background: black;
  color: white;
  border: 1px solid black;
  text-decoration: none;
}

.button_start {
  background: white;
  color: black;
  border: 1px solid white;
  border-radius: 3px;
  height: 45px;
  width: 120px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 55px;
}

.button_start:hover {
  background: black;
  color: white;
  border: 1px solid black;
  text-decoration: none;
}

a {
  text-align: center;
  // padding: 5px;
  color: black;

}

a:hover {
  text-decoration: none;
  color: #393E46;
}

.chatbot {
  margin-top: 70px;
  margin-left: 200px;
}
