.shipping_button {
  background: #393E46;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  height: 45px;
  width: 540px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 44px;
}

.shipping_button:hover {
  background: black;
  color: white;
  border: 1px solid black;
  text-decoration: none;
}

#new_order{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  
  .form-control-label{
    min-width: 130px !important;
  }

}

