// .gift-details {
//   display: inline-block;
// }

// h1, p {
//  text-align: justify;
//  height: 100px;
//  width: 250px;

// }

img {
 vertical-align: left;
 padding: 0px;
}

#imgift {
  width: 500px;
  //margin-top: 10px;
}

#giftname {
  margin-top: 1px;
}

.gift-details {
  margin-top: 100px;
  h1{
    font-size: 40px;
  }
}

#description {
  margin-top: 40px;
  margin-bottom: 20px;
}

.order-details {
  margin-top: 100px;
  h1 {
    margin-bottom: 30px;
    font-size: 40px;
  }
  p{
    font-weight: 300;

  }
  .title{
    font-size: 20px;
    font-family: Merriweather, Raleway, Helvetica, sans-serif;
    font-weight: 600;
  }
}

.payment-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p{
      margin: 0;
      font-size: 30px;
      font-family: Merriweather, Raleway, Helvetica, sans-serif;
      margin-right: 60px;
    }
}

.flex-order{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

// .container-gift-details {
// display: flex;
// align-items: center;
// margin: 0 30px;
// justify-content: space-between;
// }

// .gift-image {
//   height: 450px;
//   background-repeat: no-repeat;
// }
