// .gift-details {
//   display: inline-block;
// }

// h1, p {
//  text-align: justify;
//  height: 100px;
//  width: 250px;

// }

img {
 vertical-align: left;
 padding: 0px;
}

#imgift {
  width: 500px;
  margin-top: 10px;
}

#giftname {
  margin-top: 1px;
}

.gift-details {
  margin-top: 100px;
}
// .container-gift-details {
// display: flex;
// align-items: center;
// margin: 0 30px;
// justify-content: space-between;
// }

// .gift-image {
//   height: 450px;
//   background-repeat: no-repeat;
// }
