<div class="gift-details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
      </div>
      <div class="col-xs-12 col-md-6">
        <h1><%= @gift.name.capitalize %></h1>
        <p><%= @gift.description.capitalize %></p>
        <p>$<%= @gift.price %></p>
        <a class="button_start" href="">Order now</a>
      </div>
    </div>
  </div>
</div>






