<%= cl_image_tag @gift.image %>
<div class="gift-details">
  <h1><%= @gift.name %></h1>
  <p><%= @gift.description %></p>
  <p><%= @gift.price %></p>
</div>




<html>
<body>

<button type="button">ORDER NOW</button>


</body>
</html>

