<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0, 0.4)), url('<%= image_path('regalo-background.jpg') %>');">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1> Regalo </h1>
            <h3>Find the right gift in minutes</h3>
            <h3>
              for <span id="banner-typed-text"></span>
            </h3>
            <p>Join below and get early access to Regalo</p>
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="rose@email.com">
              <a class="button" href="">JOIN</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="chatbot">
            <script type='text/javascript' src='https://app.botsociety.io/embc/5bdfb6489c7da880f558c739'></script><a class='botsoc' rel='nofollow' href='https://app.botsociety.io/emb/5be09fda0256762781e8e28b?p=2a7dbbc7e976506505e004c877dc86475c944e7a&paid=true' target='small'></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= cl_image_tag Gift.first.image%>
