/* Main navbar */
.navbar-regalo {
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.navbar-regalo-color {
  background: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-regalo-brand img {
  height: 60px;
  margin-top: 5px;
  margin-left: 10px;
}

.navbar-regalo-brand a {
  text-align: center;
}

/* Right section */
.navbar-regalo-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-regalo-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-regalo-link {
  color: white;
  font-size: 16px;
}
.navbar-regalo-link:hover {
  color: #1d2323;
  text-decoration: none;
}

.navbar-regalo-link-color {
  color: #616668;
  font-size: 16px;
}
.navbar-regalo-link-color:hover {
  color: black;
  text-decoration: none;
}

.navbar-regalo-logo-text {
  color: white;
  font-size: 36px;

}
